h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    width: 960px;
    padding: 40px;
    flex-wrap: wrap;
}

.square {
    background-color: black;
    transition: background-color 0.3s;
}

.title {
    display: block;
    padding: 10px 40px 10px 40px;
}

button {
    width: auto;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #000;
    background-color: lightgray;
    cursor: pointer;
}